<html>
<head>
  <title>Cars in Inventory</title>
</head>
<body>
    <h1>You added a car to the lot!</h1>
    <p>{{ new_car.getMake }}</p>
    <p><a href='/'>View all cars for sale.</a></p>
</body>
</html>
