<html>
    <head>
        <title>Find a Car</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    </head>
    <body>
        {% if cars is not empty %}
            <ul>
                <h3>Cars matching your search:</h3>
                {% for car in cars %}
                    <h4><li>{{ car.getMake }}</li></h4>
                    <h4><li>{{ car.getPrice }}</li><h4>
                    <h4><li>{{ car.getMiles }}</li></h4>
                    <img src=" {{ car.getPhoto }} ">
                {% endfor %}
            </ul>
        {% endif %}

        <div class='container'>
            <h1>Find a Car!</h1>

            <!--form to find a car by miles and price-->
            <form action='/car_results'>
                <div class='form-group'>
                    <label for='price'>Enter Maximum Price:</label>
                    <input id='price' name='price' class='form-control' type='number'>
                </div>
                <div class='form-group'>
                    <label for='miles'>Enter Maximum Mileage:</label>
                    <input id='miles' name='miles' class='form-control' type='number'>
                </div>
                <button type='submit' class='btn-success'>Submit</button>
            </form>
            <hr>
            <!--form to add a car to inventory-->
            <form action='/add_car' method='post'>
                <div class='form-group'>
                    <p><label for='make_model'>Car Make/Model</label></p>
                    <input id='make_model' name='make_model' type='text'>
                </div>
                <div class='form-group'>
                    <p><label for='make_price'>Car Price</label></p>
                    <input id='make_price' name='make_price' type='text'>
                </div>
                <div class='form-group'>
                    <p><label for='make_miles'>Car Mileage</label></p>
                    <input id= 'make_miles' name='make_miles' type='text'>
                </div>

                <p><button type='submit' class='btn-primary'>Add Car</button></p>
            </form>
            <hr>
            <!--form to delete ALL cars-->
            <form action='/delete_cars' method='post'>
                <button type='submit' class="btn-danger" >Clear</button>
            </form>
        </div>
    </body>
</html>
